data/ModifiedDatasets/*
/data/FilteredDatasets/*
/data/Datasets/*
/data/CombiningDatasets/*
/data/ModifiedAfterDeletedData/*
/data/Lexicons/Testing/*
/data/ForwardIndexData/Testing/*
/data/InvertedIndexData/Testing/*
/data/BarrelData/Testing/*